html { 
  background: url(../images/background.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  cursor: crosshair;
}

#board {
    text-align: center;
}

.js-alien {
    width: 20px;
    height: 20px;
    position: absolute;
    display: inline-block;
    /*top: 1%;*/
    background-image: url(../images/alien.png);
}

#startBtn {
    position: absolute;
    top: 90%;
    left: 50%;
}

#gameStats {
    color: white;
    position: absolute;
    top: 85%;
    left: 2%;
}